{% extends 'base.html' %}
{% block title %}Reset your password{% endblock %}
{% load static %}
{% block body %}
<div class="container d-flex align-items-center justify-contents-center" style="min-height: 75vh">
  <div class="col-lg-10 mx-auto p-4 my-4 border shadow-lg rounded-lg">
    <h2>Forgotten your password?</h2>
    <p>Enter your e-mail address to reset your password.</p>
    <form action="." method="post" class="form-signup needs-validation">{% csrf_token%}
      <div class="col">
        <div class="input-group border mb-3">
          <span class="input-group-text  border">email</span>
          <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email"
            class="form-control border" placeholder="Enter your registered email address">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-outline-success mt-2" id="save-changes"><i
              class="far fa-paper-plane"></i> Send e-mail</button>
        </div>
      </div>
  </div>
</div>
{% endblock %}